header {
    align-items: center;
    background-color: #3c3c3c;
    margin: 1;
    padding: 1;
    text-shadow: 1px; 
    text-align: center;
  color: #7ff ;
  border: rgb(255, 0, 0); ;
}
footer {
    background-color: #7f7f7f;
}


